<div class="ui search" [ngClass]="{loading: isLoading}">
  <div class="ui icon input">
    <input class="prompt" (keyup)="keyup.emit(searchTerm.value)" #searchTerm type="text" placeholder="Suche..." />
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{visible: foundBooks.length}">
    <a class="result" href (click)="selectBook(book, $event)" *ngFor="let book of foundBooks">
      <div class="content">
        <div class="title">{{ book.title }}</div>
      </div>
    </a>
  </div>
</div>
